body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.hero {
    background-color: #1F2937;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex: 1 0 100%;
    margin-bottom: 60px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    justify-content: center;
    flex: 1;
}

.header-links > ul {
    display: flex;
    gap: 16px;
}

.header-links li {
    list-style: none;
}

.header-links  a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main {
    display: flex;
    justify-content: flex-start;
    min-height: 300px;
    gap: 32px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.hero-main-left {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    max-width: 49%;
    flex: 1;
}

.hero-main-left  button {
    background-color: #3882F6;
    padding: 4px;
    border-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 800;
    font-size: 18px;
    min-width: 140px;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main-right {
    display: flex;
    flex: 1;
}

.hero-img {
    min-width: 600px;
    height: 200px;
    background-color: rgb(125, 133, 133);
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}



.general {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 500px;
}


.info {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.cards figure {
    width: 200px;
}

.cards .image {
    flex-basis: 100%;
    border-radius: 10px;
    border: 3px solid #3882F6;
    height: 200px;
    margin-bottom: 8px;
}

.cards figcaption {
    text-align: center;
    flex-wrap: wrap;
    color: rgb(53, 53, 53);
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    min-height: 400px;
}


.quote p {
    font-size: 36px;
    font-weight: italic;
    color: #1F2937;
    width: 75%;
    align-self: center;
}

.quote .author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.action {
    background-color: #3882F6;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border-radius: 10px;
    height: 150px;
}

.action-text {
    color: #F9FAF8;
    font-size: 20px;
  
    flex: 2 0 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-button {
    flex: 1 0 35%;
    display: flex;
    justify-content: center;
}

.action-button button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
    width: 150px;
    height: 40px;
}

.action-text p, .action-button button {
    margin: 0;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}